<!-- frontend/templates/appointments.html -->
{% extends 'base.html' %}

{% block title %}Lista de Citas{% endblock %}

{% block content %}
<h2>Lista de Citas Médicas</h2>
<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Motivo</th>
    </tr>
  </thead>
  <tbody id="tabla-citas"></tbody>
</table>

<script>
  async function obtenerCitas() {
    const response = await fetch("http://127.0.0.1:8000/api/citas/");
    const data = await response.json();
    let tabla = "";
    data.forEach(cita => {
      tabla += `<tr>
        <td>${cita.nombre_paciente}</td>
        <td>${cita.fecha}</td>
        <td>${cita.hora}</td>
        <td>${cita.motivo}</td>
      </tr>`;
    });
    document.getElementById("tabla-citas").innerHTML = tabla;
  }
  obtenerCitas();
</script>
{% endblock %}
